/* ------------
PETITES ANNONCES
--------------*/
#adsPresentation{
	background:#eee;
	margin: 5px auto;
	width:85%;
}
#adsPresentation img{
	float:left;
	margin:5px;
}
#adsPresentation p{
	padding:5px;
}
#childrenSelector{
}
#formArboSelect, #childrenSelector{
	margin:auto;
	width:85%;
}
#ads #formArboSelect{
}
	#ads #formArboSelect legend{
		float: left;
		display: block;
		margin-right: 5px;
	}
	#ads #formArboSelect .row {
		clear: none;
		margin: 0 5px;
		padding: 0 5px;
	}
		#ads #formArboSelect label {
			display:none;
		}
#directory #formArboSelect label, .directoryEntryDetailDefault #formgotoentry label {
	display: none;
}



div.line1, div.line2, div.line3, div.line4{
	clear:left;
} 
div.col1, div.col2, div.col3, div.col4{
}
div.adsline1, div.adsline2, div.adsline3, div.adsline4{
	clear:left;
} 
div.adscol1, div.adscol2, div.adscol3, div.adscol4{
}
#ads #formArboSelect {
	width: auto;
	padding: 0;
}
#ads #childrenSelector{
	width: 100%;
	margin-bottom: 10px;
	overflow: auto;
}

.adsCategory{
	border-bottom: 1px #CCC dotted;
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
}
.adsEntrySummary{
	background: url("../images/product-right.png") repeat-y right top;
	float: left;
	position: relative;
	color: #666;
}
	.adsEntrySummary p{
		margin:0;
	}
	.adsEntrySummary img{
		max-height: 80px;
	}
	.adsEntrySummary .gallery{
		text-align: center;
		max-height: 82px;
		overflow: hidden;
	}
	.adsEntrySummaryDefaultInner{
		height: 190px;
		overflow: auto;
	}
	.adsEntrySummary .row label{
		width:auto;
	}
	.adsEntrySummary .row input, .shortProduct .row select{
		width:50px;
	}
	.adsEntrySummary .label{
		display:none;
	}
	.adsEntrySummaryDefault{
		background: url("../images/product-bottom.png") repeat-x scroll left bottom transparent;
		padding: 24px 15px 40px 19px;
		width: 190px;
	}
	.adsEntrySummary h3 {
		color: #000000;
		font-size: 16px;
		font-weight: normal;
		height: 30px;
		line-height: 15px;
		margin: 0 0 5px 0;
		overflow: hidden;
		display: block;
		margin-bottom: 10px;
	}
	.adsEntrySummary .field_1 {
		overflow: hidden;
		height: 130px;
	}
	.adsEntrySummary .adsEntrySummaryDefaultLink {
		z-index: 500;
		position:absolute;
		bottom:10px;
		left:60px;
		display: block;
		color: #666;
	}
	.adsEntrySummary .adsEntrySummaryDefaultLink span{
		background: url("../images/bg-view-product.png") no-repeat top left;
		width: 100px;
		display: block;
		line-height: 25px;
		text-align: center;
		text-decoration: none;
		font-size: 12px;
	}
	.adsEntrySummary .adsEntrySummaryDefaultLink:hover{
		color: #000000;
		text-decoration: underline;
	}
		.adsCategory .viewAd a:hover{
			text-decoration: underline;
			color:#000000;
		}
		.adsCategory .picture {
			float:left;
			margin: 5px;
		}
	.adsCategory h3{
    	color: #000000;
    	font-size: 1.2em;
    	margin: 0;
    	padding: 2px;
    	text-align: left;
	}
	.adsCategory a{
		clear:left;
		display:block;
		margin:0 5px 0 0;	
		text-align: right;
		font-weight: bold;
	}
	
	
#ads .msg_no_entries{
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
}
h4.msgNoEntries{
	clear:left;
}
#contentAdsSubmitModeration{
}
#contentAdsDelete{
}
#contentAdsRenewal{
}
.AdsPreview{
}
.AdsPreviewCategorie .label{
	font-weight:bold;
}
.contentResultsSearch{
}
.adsContactPage{
}
.pubDate span,
.endDate span{
	font-style: italic;
}
.adsEntrySummaryDefaultLink{
	text-align: right;
	font-weight:bold;
	display: block;
}
#contactCoords,
#contactForm{
	margin:10px;
	float: right;
}
a.contactCoordsLink{
	background: url("../images/bg-product-price.png") no-repeat left top;
	padding: 0 0 0 15px;
	float: left;
	line-height: 46px;
	margin: 10px 10px 10px 0;
	color: white;
	text-decoration: none;
}
	a.contactCoordsLink span {
		display: block;
		font-weight: bold;
		height: 46px;
		background: url("../images/bg-product-price.png") no-repeat right top;
		padding: 8px 15px 0 0;
		margin-right: -10px;
		width: 150px;
		line-height: 14px;
		text-align: center;
	}
	a.contactCoordsLink:hover{
		text-decoration: underline;
	}
a.contactFormLink{
	background: url("../images/bg-product-price.png") no-repeat left top;
	padding: 0 0 0 15px;
	float: left;
	line-height: 46px;
	margin: 10px 10px 10px 0;
	color: white;
	text-decoration: none;
}
	a.contactFormLink span {
		display: block;
		font-weight: bold;
		height: 46px;
		background: url("../images/bg-product-price.png") no-repeat right top;
		padding: 8px 15px 0 0;
		margin-right: -10px;
		width: 150px;
		line-height: 30px;
		text-align: center;
	}
	a.contactFormLink:hover{
		text-decoration: underline;
	}

.randomAds .adsEntrySummaryDefault{
	border-bottom: 1px #CCC dotted;
	width: 170px;
	padding: 0;
	height: auto;
}	
.randomAds .adsEntrySummaryDefault .map{
	display:none;
}	
.adsEntrySummaryDefaultInner {
	max-height: 300px;
	overflow: auto;
}
.randomAds .adsEntrySummaryDefault img {
	max-width: 140px;
}
.randomAds .adsEntrySummaryDefault a{
	margin:10px 0;
}
.adsEntryDetailDefault .additionnalsProperties{
	margin-bottom:15px;
}
.adsEntryDetailDefault .label{
	font-weight:bold;
}
.randomAds .widgetContainer{
}

/* ------------
WIDGET DES PA
--------------*/
.widgetAdd{	
}
	.widgetAdd #widgetAddDescription{	
		line-height:100%;
		clear:both;
	}
	.widgetAdd .widgetAddLink{	
		font-weight: bold;
		margin: 10px auto;
		display: block;
		text-align: center;
		font-size: 1.5em;
	}
.widgetSearchAds fieldset,
.widgetSearchAds form{
	width: 100%;
}	

/* -----------------
SOUMISSION D'UNE PA
-------------------*/
.widgetAddAdds label {
	float: left;
	width: 250px;
}
.widgetAddAdds .row {
    margin: 3px 0 20px;
    padding: 0;
    line-height: normal;
}
.widgetAddAdds #steps span {
    font-size: 0.9em;
}	
.AdsPreview fieldset{
	border-bottom:1px dotted #666666;
}
.AdsPreview legend{
	color:#000000;
	padding:0;
}
.AdsPreview .AdsPreviewContentEdit,
.AdsPreview .AdsPreviewFormuleWithPaymentEdit{
	display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px auto;
    text-align: center;
}
.AdsPreview .AdsPreviewCategorieEdit,
.AdsPreview .AdsPreviewCategorieType{
	font-weight: bold;
	border-left:1px #666666 dotted;
	padding-left:5px;
}
