/* ------------------------
APPARENCE GENERALE DES BOITES
--------------------------*/
.widget{
	color: #666;
}
.widget .widgetContainer{
/*	border-right: 1px #e0e0e0 solid;
	border-left: 1px #e0e0e0 solid;
	margin: 0 -10px 5px -10px;
	padding: 5px 10px;*/
}
	.widget h4{
		color:#ffffff;
		font-size:1.2em;
		margin:0 -10px -5px -10px;
		padding:8px 10px;
		text-decoration:none;
		font-weight:bold;
	}
	.widget ul{
		margin:10px 0;
	}
	.widget fieldset, .widget form{
		border:0;
		margin:3px 0;
		padding:0;
	}
	.widget .row{
		margin:3px 0;
		padding:0;
	}
	.widget label{
		display:block;
		float:none;
		width:auto;
	}
	.widget input.wordsbox{
		width:90%;
	}
	.widget .submit{
		text-align: right;
	}
	.widget .submit input{
		color:#ffffff;
	}
	#wrapper .widget img{

	}
	#contents .widget{
		background: none;
	}
		#contents .widget h4{
		}
		#contents .widget .widgetFooter {
    		background: none !important;
    		height: 0px !important;
    		margin: 0 -10px 0;
		}
#header .widget{
	margin: 0;
	border:none;
	padding: 4px 15px;
	color: black;
}
	#header .widget .widgetContainer {
		border:none;
		margin:0;
		padding:0;
	}
	#header .widget h4{
		background:none;
		margin:0;
		padding: 2px;
		color:black;
	}
#wrapper .widget .widgetFooter{
	height:5px;
	margin:-5px -10px 0;
}
#footer .widget{
	background:none;
	float:left;
	padding:10px;
	color:#fff;
}
	#footer .widget h4{
		margin:10px;
		font-size:1em;
  color:#ed1947;
  border-bottom:solid 1px #ed1947;
  font-weight:bold;
	}
	#footer .widget .widgetContainer {
		border:none;
		margin:0;
		padding:0 10px;
  font-size:11px;
	}
	#footer a {
		color:#ffffff;
	}
	#footer a:hover {
		color: #ffffff;
	}
.widget .linksmore {
	text-align: left;
}
.widget .group_multi_radio,
.widget .group_multi_checkbox,
.widget .group_multi,
.widget .groupMultiRadio,
.widget .groupMulticheckbox,
.widget .groupMulti {
	top: 0px;
}
.widget .multi_radio,
.widget .multiRadio,
.widget .multi_checkbox,
.widget .multiCheckbox {
	margin-bottom: 10px;
	clear: both;
}
.widget input.radio,
.widget input.checkbox,
.widget input.radio:focus,
.widget input.checkbox:focus {
	float: left;
}
.widget .multi_radio label,
.widget .multiRadio label,
.widget .multi_checkbox label,
.widget .multiCheckbox label {
	line-height: 100%;
}


/* ------------------------
BOITE DERNIERS ELEMENTS
--------------------------*/
.widgetLastElements{
	line-height: 140%;
}
	.widgetLastElements a{
	}
	.widgetLastElements .widgetLastElementsPicture{
		text-align:center;
	}
	.widgetLastElements .widgetLastElementsPicture img{
		float:right;
	}
	.widgetLastElements #cadre, .widgetLastElements #cadre #msg_1, .widgetLastElements #cadre #msg_2{
		height:170px!important;
	}
	.widgetLastElements .widgetLastElementsLink{
		text-align: right;
	}

/* ------------------------
BOITE RSS
--------------------------*/
.widgetRss a{
	word-wrap: break-word;
}
/* ------------------------
BOITE BANNIERE
--------------------------*/
#header .widget.banniere{
	background: none;
	margin: 0;
	padding: 0;
	border: none;
}
.banniere p{
	margin: 0;
}
.banniere h4{
	display: none;
}

/* ---------------
BOITE CALENDRIER
------------------*/
table.calendar{
	/* border-collapse: needed to apply border styles on <tr>, <col>, <colgroup>, <thead>, <tbody> and <tfoot> */
	/* Support: Mozilla: full, IE 5.5+: partial, Konqueror: none */
	border-collapse: collapse;
	font-size:1em;
	width:100%;
}
	table.calendar tr.calendarNav a{
		color: #666666;
		text-decoration:none;
	}
	table.calendar tr.calendarNav a:hover{
		text-decoration:underline;
	}
	table.calendar td{
		text-align:center;
		vertical-align:middle;
		width:12%;
	}
		table.calendar td a{
			font-weight:bold;
		}
	table.calendar tr.calendarDays th, table.calendar tr.calendarNav th{
		background:#eeeeee;
		border:1px solid #CCCCCC;
		color:#666666;
		font-size:1.1em;
		font-weight:bold;
		width:auto;
	}
	table.calendar td.today{
		color:#ffffff;
		font-weight:bold;
		background:url(../images/calendar_today.png) no-repeat top left;
	}
	table.calendar td.noDay{
		color: #666666;
	}
	table.calendar td.pastDay{
	}
	table.calendar td.eventDay{
		background-color: #007aaa;
	}
table.calendar_1_January{
}
table.calendar_1_February{
}
table.calendar_1_March{
}
table.calendar_1_April{
}
table.calendar_1_May{
}
table.calendar_1_June{
}
table.calendar_1_July{
}
table.calendar_1_August{
}
table.calendar_1_September{
}
table.calendar_1_October{
}
table.calendar_1_November{
}
table.calendar_1_December{
}
div.calendarEvent{
}
div.calendarEvent h5{
}
div.eventCategory, div.eventDescription{
}
div.eventStartEndTime{
}
div.calendarEventLeft{
	clear: left;
}
div.calendarEventRight{
}

/* ----------------
BOITE RACCOURCIS
-------------------*/
.widgetShortcutFooter{
	background:transparent;
	margin:0;
	padding:0;
}
	.widgetShortcutFooter h2{
		display:none;
	}
	.widgetShortcutFooter ul, .widgetShortcutHeader li{
		background:none;
		display:inline;
		margin:0;
		padding:0;
	}
.widgetShortcutFooter{
	background:transparent;
	margin:0;
	padding:0;
}
	.widgetShortcutFooter h2{
		display:none;
	}
	.widgetShortcutFooter li, .widgetShortcutFooter ul{
		background:none;
		display:inline;
		margin:0;
		padding:0;
	}
	.widgetShortcutFooter a, .widgetShortcutFooter a:visited{
		background:transparent;
		color:#ffffff;
		margin:0 2px;
		text-decoration:none;
	}
	.widgetShortcutFooter a:hover, .widgetShortcutFooter a:active{
		text-decoration:underline;
	}
.widgetShortcutTools{
}
	.widgetShortcutTools ul{
	}
	.widgetShortcutTools li{
	}

/* -----------
BOITE METEO
-------------*/
div.weatherRow{
	padding:0 5px;
}
.weatherForecastWeekday{
	float: left;
	width: 25%;
}
.weatherForecastWeekday h3{
	margin:0;
	padding:15px 0 0 0;
}
span.temperature{
	font-style:italic;
}
.day{
	margin:0 2% 0 0;
	padding:0;
}
.weatherForecastWeekday .day{
	background:#eeeeee;
	border:1px solid #666666;
}
.weatherForecastWeekday .day h4{
	background:#666666;
	color:#ffffff;
	font-size:1.1em;
	margin:0 0 5px 0;
	padding:3px;
}
.weatherForecastWeekday .day img{
	text-align: center;
	margin: 5px auto;
	display: block;
}
.weatherForecastWeekday .weatherConditionDescription{
	text-align: center;
}

/* -----------
BOITE TEXTE
-------------*/
.widgetText {
}

/* -----------
BOITE SONDAGE
-------------*/
.widgetPoll{
}
	.widgetPoll #poll{
		width:100%;
	}
	.widgetPoll #poll h2{
		display:none;
	}
	.widgetPoll #poll li{
		list-style:none;
	}
	.widgetPoll .statsLink{
	}

/* ---------------------
BOITE RECOMMANDER LE SITE
-----------------------*/
.widgetRecommend{
}

#recommend{
}

/* -------------------
BOITE NEWSLETTER
---------------------*/
#wrapper .widgetNewsletter{
	background:#222224 url(../images/bg-newsletter.png) no-repeat top left;
	color:#ffffff;
}
	#wrapper .widgetNewsletter fieldset{
		width:100%;
	}
	#wrapper .widgetNewsletter h4{
		background:none;
		padding:4px 10px;
	}
	#wrapper .widgetNewsletter .widgetContainer {
		border:none;
		margin:0;
		padding:0;
		padding:0 0 10px;
	}
	#wrapper .widgetNewsletter .widgetFooter{
		height:5px;
		background:url(../images/bg-newsletter-footer.png) no-repeat top left;
	}
#wrapper .widgetNewsletter #NewsLettersSubscribeMail { width: 100px; }
#wrapper .widgetNewsletter .submit { display: inline; }
#wrapper .widgetNewsletter .submit input { padding: 0; }
.widgetNewsletter {}
#newsletter {}

/* -----------
BOITE PUBLICITE
-------------*/
.widgetAdvert {
	background: #fff;
	padding: 0;
}
.advertHeader {
	font-size: 1em;
	text-align: center;
}
.advert { overflow: hidden; }
.advertAdditionalLink {
	font-size: 1em;
	text-align: center;
}
.iab_300x250 {
	height: 250px;
	width: 300px;
}
.iab_250x250 {
	height: 250px;
	width: 250px;
}
.iab_240x400 {
	height: 400px;
	width: 240px;
}
.iab_336x280 {
	height: 280px;
	width: 336px;
}
.iab_180x150 {
	height: 150px;
	width: 180px;
}
.iab_468x60 {
	height: 60px;
	width: 468px;
}
.iab_234x60 {
	height: 60px;
	width: 234px;
}
.iab_88x31 {
	height: 31px;
	width: 88px;
}
.iab_120x90 {
	height: 90px;
	width: 120px;
}
.iab_120x60 {
	height: 60px;
	width: 120px;
}
.iab_120x240 {
	height: 240px;
	width: 120px;
}
.iab_125x125 {
	height: 125px;
	width: 125px;
}
.iab_728x90 {
	height: 90px;
	width: 728px;
}
.iab_160x600 {
	height: 600px;
	width: 160px;
}
.iab_120x600 {
	height: 600px;
	width: 120px;
}
.iab_300x600 {
	height: 600px;
	width: 300px;
}

/* ------
BOITE RSS
---------*/
.widgetRssItem { margin: 8px 0; }
.widgetRssItemTitle { font-weight: bold; }
.widgetRssItemDate { font-style: italic; }

/* -----------
BOITE RACCOURCI
-------------*/
.widgetShortcutTools {}
.widgetShortcutTools a {
	color: #666;
	text-decoration: none;
	text-transform: uppercase;
}
.widgetShortcutTools a:hover { color: #000; }
.widgetShortcutTools ul li {
	border-bottom:1px #ccc dotted;
	margin:5px 0;
	padding-bottom: 5px;
}
