/* ----------------------------
BOITE RECHERCHE DANS CATALOGUE
------------------------------*/
#header .widgetCatalogSearch {
	background: #666666;
	padding: 5px 5px 5px 15px;
	min-height: 25px;
	line-height: 100%;
	height: 100%;
}
	#header .widgetCatalogSearch label{
		float:left;
		margin-right:10px;
		color: #ffffff;
	}
	#header .widgetCatalogSearch h4{
		display: none;
	}
	#header .widgetCatalogSearch .wordsbox{
		width:150px;
	}
	#header .widgetCatalogSearch .catalog_search_form{
		float:left;
		width:auto;
		margin:0;
	}
	#header .widgetCatalogSearch fieldset{
		float:left;
		width:auto;
		margin:0 10px 0 0;
	}
	#header .widgetCatalogSearch .submit{
		float:left;
		margin-right:10px;
	}
		#header .widgetCatalogSearch .submit input{
			padding:0;
		}
	#header .widgetCatalogSearch .row{
		clear:none;
		margin:5px 2px;
		float:left;
	}
	#header .widgetCatalogSearch a{
		line-height: 25px;
		color: #ffffff;
	}


/* -----------
BOITE PRODUIT
--------------*/
.boxproduct{
}
	div.product{
	}
	span.productName{
	}
.widget .short_product h3 {
    overflow: hidden;
    height:auto;
    clear:both;
}
	.widget .short_product h3 a{
		color: #000000;
		text-decoration: none;
	}
	.widget .short_product h3 a:hover{
		text-decoration: underline;
	}
/* -----------
BOITE PANIER
--------------*/
.boxcart{
}
	.boxcart .viewcart{
		text-align:right;
	}
	span.label{
	}
	span.value{
	}
	span.viewcart{
	}
.widgetCart .viewcart{
}
.widgetCart .saveCart{
}
.widgetCart .sendCart{
}
.widgetCart .productNumber{
}

/* -----------
PAGE PANIER
--------------*/
#cart{
}
#emptyCart{
}
#selectionsCart{
}
tr.shipping{
}
tr.amount{
}
.cart .submit input{
	background-color:#666666;
	margin-right:5px;
}
#cartDetail{
}
tr.shipping{
}
tr.amount{
}
div.row{
}
span.conditionLabel{
}
span.conditionField{
}
.normalPrice{
	text-decoration: line-through;
}
.cart{
}
.cart .coupon input{
	width: 50px;
}
/*méthode générale sur les tableaux pour supprimer la largeur des libellés de champs dans le tableau recaptitualitif de la commande*/
.cartTableau table .row label, .cartTableau .row label{
	float:none;
	width:auto;
}
#cartSubscription{
}

/* -----------
CATALOGUE
--------------*/
.catalog{
}

/* ---------------------------
FICHES RESUMÉES DE PRODUITS
------------------------------*/
.short_product{
	float:left;
	position:relative;
	color:#666666;
}
	.short_product .addToCart .row {
		float:left;
	}
	.short_product h3{
   	color: #000000;
    	font-size: 16px;
    	font-weight: normal;
    	margin: 0 0 5px;
    	overflow: hidden;
    	display: block;
    	margin-bottom: 10px;
	}
		.short_product h3 a{
			color: #8d0e2a;
			text-decoration: none;
   font-weight:bold;
		}
		.short_product h3 a:hover{
			text-decoration: underline;
		}
	.short_product p{
		margin:0;
	}
	.short_product .description{
    	font-size: 1.1em;
  background:none;
  padding:0;
  margin:0;
	}
	.short_product .priceContainer{
		background:url("../images/bg-price.png") no-repeat left top ;
		display:block;
		font-weight:bold;
		line-height:27px;
		padding:0 0 0 5px;
		position:absolute;
		top:100px;
		left: 10px;
	}
		.short_product .old_price .priceContainer{
			left: 76px;
			background: none;
			top: 110px;
			font-size: .9em;
		}
		.short_product .prix,
		.short_product .special_price,
		#product .short_product .prix,
		#product .short_product .special_price{
      	background: url("../images/bg-price.png") no-repeat scroll right top transparent;
      	color: white;
      	display: block;
      	float: left;
      	font-size: 1.2em;
      	line-height: 27px;
      	padding: 0 5px;
      	margin-right: -5px;
		}
	.short_product .panier{
		display: block;
		text-align: right;
		padding-top: 9px;
		line-height: 12px;
	}
	.short_product .panier a,
	#product .short_product .panier a {
		background:url(../images/ico_panier.gif) no-repeat center left;
		padding:3px 3px 3px 15px;
		text-decoration:none;
		font-size:11px;
		font-weight:normal;
		margin-left: 5px;
	}
	.short_product .row label{
		width:auto;
		float:left;
	}
	.short_product .row input,
	.short_product .row select{
		width:50px;
	}
	.short_product .panier .submit{
	}
	.short_product_container{
  
	}
	.short_product .pictureContainer{
		text-align:center;
		margin:0 auto 25px auto;
		height: 94px;
    	width: 125px;
    	/*background:#eeeeee url("/common_images/skins/DefaultSkins1.5/no-image.png") no-repeat 50% 50%;*/
	}
	.short_product .picture img{
    	max-height: 94px;
	}
	.short_product .price{
		background:none;
		color:#ff0000;
		font-size:1em;
		font-weight:normal;
		left: 85px;
		top: 109px;
		z-index:10;
	}
		#product .price{

		}
		.old_price {
			background: none;
			text-decoration:line-through;
			display: block;
			margin: 0;
		}
				.old_price .price {
					background: none;
					padding:0;
				}
					.old_price .prix {
						background: none;
						color:#ff0000;
						font-size:1.3em;
						font-weight: normal;
						text-decoration: line-through;
					}
	.short_product .viewProduct{
		background:url("../images/bg-view-product.png") no-repeat top left;
		width:100px;
		display: block;
		margin:5px auto 0 auto;
		line-height:25px;
		text-align:center;
		z-index: 500;
	}
		.short_product .viewProduct a{
			color: #8d0e2a;
			text-decoration:none;
			font-size:13px;
		}
		.short_product .viewProduct a:hover{
			text-decoration: underline;
		}
#contents .short_product .viewProduct{
/*	position: absolute;
 bottom:20px;
	left: 25%; */
}
#contents .short_product .addToCart {
	position: absolute;
	top: 301px;
	left: 5px;
	width: 200px;
}
.detailPriceUnite,
.detailPriceTotal{
}
.short_product .fromPrice{
	padding: 0 5px;
	float: left;
	position: absolute;
	top: 80px;
	left: 7px;
}

/* -------------------------------------
FICHES RESUMÉES DE PRODUITS DANS WIDGET
-----------------------------------*/
#rightbar .widget .short_product,
#leftbar .widget .short_product {
	background:none;
	float:none;
	position:relative;
	border-bottom: 1px #cccccc dotted;
}
	#rightbar .widget .short_product .row label,
	#leftbar .widget .short_product .row label {
		display: inline;
	}
	#rightbar .widget .short_product .panier,
	#leftbar .widget .short_product .panier {
		text-align:center;
	}
#rightbar .widget .short_product_container,
#leftbar .widget .short_product_container  {
	background:none;
	width:auto;
	padding:10px 0;
	height:auto;
	margin: 0;
}
#contents .widget .short_product_container {
	width: 190px;
}
#contents .widgetContainer {
	overflow:hidden;
}
#rightbar .widget .short_product .old_price {
	left: 70px;
}
#rightbar .widget .short_product .priceContainer.old_price {
	background:none;
}
#rightbar .widget .short_product .old_price .prix {
	font-size: 1.2em;
}
	#rightbar .widget .short_product .description{
    	width: 170px;
    	height: 95px;
	}

/* -----------
PAGE PRODUIT
--------------*/
#product{
}
	#product #formproductversion .panier{
		background:url("../images/bg-add.png") no-repeat scroll left top transparent;
		clear:both;
		color:#ffffff;
		height:50px;
		line-height:45px;
		margin: 10px 0 0 0;
		padding:0 0 0 10px;
		width:167px;
	}
	#product #formproductversion .panier a{
		background:url("../images/bg-add.png") no-repeat scroll right top transparent;
		display:block;
		font-size:1.4em;
		font-weight:bold;
		line-height:45px;
		padding:0 15px 0 0;
		color:#ffffff;
		text-align: center;
		margin-right: -10px;
	}
	#product h2{
		color:#cccccc;
		font-size:2em;
	}
#visuelsAdditionnels, #produitsAssocies, #produitsCommentaires{
	clear:both;
}
#visuelsAdditionnels h4, #produitsAssocies h4, #produitsCommentaires h4{
	margin:0;
	text-align:left;
}
.picture{

}
.product_detail .description ul{
	list-style:disc;
	margin: 0 0 0 40px;
}
	.product_detail .description ul li{
		background:none;
		padding: 0;
	}
.product_detail #ProductLeftCol{
	width:300px;
	float:left;
}
.product_detail #ProductRightCol{
	color:#666666;
	float:right;
	margin-right:10px;
	width:370px;
}
.product_detail .reference {
	color: #007aaa;
}
#productPicture{
	border:solid 1px;
	padding:10px 10px 0;
	text-align:center;
	position: relative;
}
	#productPicture img{
		display:block;
		margin:0 auto;
  max-height: 200px;
	}
	#productPicture a{
	}
.product_detail .total_price{
}
.reference{
}
.description{
  margin:10px 0;
  background:#e5e5e5;
  padding:10px;
}
.new{
	float:right;
	margin:0 5px;
}
.oldPrice{
	text-decoration: line-through;
}
.rateTaxation{
}
	.rateTaxation .rateTaxationLabel{
	}
	.rateTaxation .rateTaxationRate{
	}
.ecoParticipation{
}
	.ecoParticipation .ecoParticipationLabel{
	}
	.ecoParticipation .ecoParticipationPrice{
	}
.specialPrice{
}
.short_product .addToCart a{

}
.addToCart{
	margin:10px 0 0;
}
  .addToCart a{

  }
	.addToCart .row{
		margin: 5px 0;
		padding:0;
	}
		.addToCart .row label{
			margin: 0 5px 0 0;
		}
		.addToCart .row select{
			width:auto;
			float: left;
		}
.specialRate{
	font-weight: bold;
	color:#ff0000;
}
.specialRateAlternatives{
}
.specialIcon{
	float:right;
}
#stockDetail{
}
#stockAvailabilityDate{
}
#stockIcon{
}
#stockWaiting{
}
#additionnalsProperties{
}
#alternatives{
}
#options{
}
#productSlicePrice{
	clear: both;
}

.priceContainerProduct .special_price{
	color:#ff0000;
}

.total_price{
		background:url("../images/bg-product-price.png") no-repeat left top ;
		padding:0 0 0 15px;
		float:left;
		line-height:46px;
		margin: 10px 15px 10px 0;
}
	.total_price span{
			color:#ffffff;
			display:block;
			font-size:1.6em;
			font-weight:bold;
			line-height:46px;
			background:url("../images/bg-product-price.png") no-repeat right top ;
			padding:0 15px 0 0;
			margin-right:-10px;
	}



	.priceContainerProduct .old_price{
		font-size:12px;
		text-decoration:line-through;
	}
#visuels_additionnels{
	clear:both;
 margin-right:10px;
}
	#visuels_additionnels h2{
		display:none;
	}
.additionnalPicture{
	background:url("../images/bg-additional-pictures.png") no-repeat scroll left top transparent;
	float:left;
	height:70px;
	margin:0 9px;
	padding:7px;
	text-align:center;
	width:55px;
}
	.additionnalPicture img{
		max-width:53px;
		max-height:53px;
	}
.deleteProduct{
	width:16px;
	height: 16px;
	background:url("../images/deleteProduct.gif") no-repeat left top ;
	display: block;
	margin:0 5px;
}
	.deleteProduct span{
		display:none;
	}
#formproductversion{
}
	#formproductversion a{
		text-decoration:none;
	}
		#formproductversion a:hover{
			text-decoration:underline;
		}
	#formproductversion #formproductversion,
	#formproductversion fieldset{
		margin:0;
		padding:0;
	}
	#formproductversion fieldset{
		clear:both;
	}
	#formproductversion fieldset div{
  		margin:0;
		padding:0;
  	}
	#formproductversion legend{
		display:none;
	}
	#formproductversion label{
		width:auto;
		margin-right:5px;
	}
	#formproductversion div{
	}
	#formproductversion select,
	#formproductversion input{
		margin-right:15px;
	}
	#formproductversion .addToCart .row label {
		margin-right:5px;
		margin-bottom: 5px;
	}
input.add_to_cart_quantity{
	width: 100px;
}
#product #picture  {
}
.joindre_fichier label{
	display:none;
}

/* --------------------------------------
PRÉSENTATION DES FAMILLES
----------------------------------------*/
.sortResults,
#sort{
	border-bottom:1px dotted #cccccc;
	margin:0 auto;
	width:90%;
}
	.sortResults legend,
	#sort legend{
		color:#666666;
		float:left;
		font-size:1.1em;
		font-weight:bold;
		margin:3px;
	}
	.sortResults label,
	#sort label{
		width:auto;
		margin-right:10px;
		float:none;
	}
	.sortResults fieldset{
		margin:5px;
		padding:0;
	}
	.sortResults .row,
	#sort .row{
		display:inline;
	}

.selectNbProducts{
	border-bottom:1px dotted #cccccc;
	border-top:1px dotted #cccccc;
	margin:0 auto;
	width:90%;
}
	.selectNbProducts .row{
	}
#famillyPresentation{
	background:#eee;
/*	margin: 10px auto;*/
}
#famillyPresentation img{
	float:left;
	margin:15px;
}
#famillyPresentation p{
	padding:15px;
}
#childrenSelector{
}
/*ne s'affiche que lorsque une famille a des produits et des sous-familles*/
#formArboSelect,
#childrenSelector{
	margin:auto;
	width:85%;
}
#formArboSelect,
#childrenSelector{
	margin:auto;
	width:85%;
	clear:both;
}
.catalog #childrenSelector {
	width:auto;
	padding:0 15px 0 0;
}
.catalog #formArboSelect {
	width:auto;
	background:#EEEEEE;
	padding:5px 0;
}
.catalog #childrenSelector ul li{
	background:none; display:inline;
}
.produits div.line1,
.produits div.line2,
.produits div.line3,
.produits div.line4,
.produits div.line5,
.produits div.col1,
.produits div.col2,
.produits div.col3,
.produits div.col4{
  display:block;
  background:none;
  box-shadow:none;
  padding:0;
  width:auto;
}
div.line1,
div.line2,
div.line3,
div.line4,
div.line5{
	/* prévoir autant que de ligne il y aura si on veut des styles différent par ligne*/
	clear:left;
 display: -webkit-flex;
 display: -ms-flexbox;
 display: flex;
 flex-flow:row wrap;
}
div.col1,
div.col2,
div.col3,
div.col4{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #f7f7f7 none repeat scroll 0 0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
  padding: 24px 15px 20px;
}

.familly{
	margin:0;
	color:#666666;
}
.famillyContainer {
	padding:15px 50px 15px 10px;
 border-bottom:3px dotted #666;
	position: relative;
}
	.familly img{
		display:block;
		margin:0 auto;
	}
	.familly h3{
		color: #ed1947;
		font-size: 1.4em;
		font-weight: bold;
		height: 30px;
		line-height: 15px;
		margin: 0 0 5px;
		overflow: hidden;
	}
	.familly a{
		background:url("../images/bg-view-product.png") no-repeat left top;
		line-height:25px;
		margin:5px auto 0;
		padding:4px 7px 10px 7px;
		text-decoration:none;
  color:#ed1947;
	}
		.familly a:hover{
			color:#8d0e2a;
			text-decoration: underline;
		}
	.familly a span{
		font-size:13px;
  font-family:'ralewayregular';
	}

/* --------------------------
PAGE PANIER > AUTHENTIFICATION
-----------------------------*/
#cartAuthentification{
}

/* -------------------
PAGE PANIER > ADRESSE
----------------------*/
#cartAddress{
}
	#steps{
		height:30px;
		margin:10px 0 25px;
		background:#f8f8f8;
		border:1px #eeeeee solid;
		line-height:30px;
	}
		#steps span{
			display:block;
			float:left;
			font-size:1.2em;
			font-weight:bold;
			line-height:30px;
			padding:0px 30px 0px 10px;;
			background:url("../images/bg-cart-etap-default.png") no-repeat right top;
		}
		#steps span.active{
			background:url("../images/bg-cart-etap.png") no-repeat right top;
			color:#ffffff;
		}
	#currentAddress{
	}
	div.address invoicingAdress{
	}
	div.address deliveryAddress{
	}
	#manageAddress{
	}
	#manageAddress .adresses{
		background:#eee;
	}
div.address invoicingAdress{
}
div.address deliveryAddress{
}
.sendCart{
	margin: 10px 0;
}

/* -------------------
PAGE PANIER > PAIEMENT
----------------------*/
#cartOrderConfirmation{
}
#paymentModules{
}
.condition_field{
	float: left;
	line-height: 20px;
	margin-right: 5px;
	padding-top: 5px;
}
.condition_label{

}

/* -------------------
PAGE PANIER > CONFIRMATION
----------------------*/
#cart_payment_confirmation{
}
#payment_infos{
}
#payment_actions{
}

/* --------------------------------------
PRODUITS
----------------------------------------*/
#products{
}

/* --------------------------------------
ZOOM DIAPORAMA D'UN PRODUIT
----------------------------------------*/
span.zoomDiaporama{
}

/* --------------------------------------
GALERIE DE PRODUITS
----------------------------------------*/
#zoomGallery{
	padding:10px;
}
div.galleryElement{
	float:left;
	padding:5px;
}

/* ------------
CALQUES OVERDIV
--------------*/
#overDiv{
	background:#ffffff;
	border:1px solid #eeeeee;
	margin:0;
	width:300px;
}
	#overDiv p{
		margin:0;
	}
	#overDiv ul li{
		background:none;
		padding:0;
	}
	#overlibheader div{
	}
	div.overlibcaption{
		float:left;
		font-size:14px;
		font-weight:bold;
		padding:5px 0 0 5px;
		width:200px;
	}
	div.overlibclose{
		padding:0 5px;
		text-align:right;
	}
	#overlibheader a{
		background:none;
		border:none;
		color:#000000;
		font-weight:bold;
		text-decoration:none;
	}
	#overlibcontent{
		clear:both;
		padding:10px;
	}
	#overlibfooter{
		padding:5px;
		text-align:right;
	}

/* -----------------------------------
AJOUT AU PANIER
--------------------------------------*/
#overDiv.od_ad_to_cart{
	background:url("../images/bg-cart.png") repeat-x 0 0 #ffffff !important;
	border:1px solid #cccccc;
	margin:0;
	width:300px;
}
	.od_ad_to_cart #overlibcontent{
		background:url("../images/addCart.png") no-repeat 10px 10px;
		clear:both;
		height:91px;
		padding:10px 5px 5px 100px;
	}

#add2cartConfirmation{
	background:transparent;
}
	#produitsCommentaires form, #produitsCommentaires #commentsList{
		text-align:left;
	}
	#produitsCommentaires h6{
		display:inline;
		margin:0;
	}
	#visuelsAdditionnels img{
		margin:3px;
		padding:3px;
	}

/*-----------------------------
PRODUITS EN TELECHARGEMENT
----------------------------*/
.productDownload{
}
.productDownload li.sample a{
	font-weight: bold;
	font-size:1.2em;
}

/* -------------------------
PAGE RESULTAT DE RECHERCHE
--------------------------*/
#searchPrice .row{
	width: 250px;
	float: left;
	clear: none;
	margin: 0 5px;
	padding: 0 5px;
}
	#searchPrice .row label{
		width: auto;
		margin-right: 10px;
	}

#selectFamiliesLabel .row{
	margin: 0 5px;
	padding: 0 5px;
}
	#catalog_search_sort_form .row{
		float: left;
		width: auto;
		clear: none;
		margin: 0 10px;
	}
		#catalog_search_sort_form .row label{
			width: auto;
			margin-right: 5px;
		}
		#catalog_search_sort_form fieldset{
			float: left;
			margin: 0;
			padding: 0;
		}
	#catalog_search_sort_form .submit {
		margin: 20px 0 0 0;
		float: left;
	}
#contents .catalog_search_form .simpleCatalogSearchInput,
#contents .catalog_search_form .submit{
	float: left;
	margin: 0;
	padding: 0;
}
.catalog_search_form .simpleCatalogSearchInput label{
	width: auto;
	margin: 0 10px;
}
.catalogSearchExecutionTime{
	display:none;
}
#contents .simpleCatalogSearch .simpleCatalogSearch{

}
	#contents .simpleCatalogSearch .simpleCatalogSearch h4{
		margin:5px;
	}
	#contents .simpleCatalogSearch fieldset{
		margin:0;
		padding:0;
	}
.simpleCatalogSearch,
.advancedCatalogSearch{
	border-bottom:1px dotted #666666;
}
	.simpleCatalogSearch h4,
	.advancedCatalogSearch h4{
		display:none;
	}
#resultsHeader h3{
	font-size: 1.7em !important;
	font-weight: normal;
}
#advanced_catalog_search_form{
	overflow: auto
}
	#advanced_catalog_search_form #searchPrice{
		float: left;
	}
	#advanced_catalog_search_form .submit{
		float: left;
		margin-top: 20px;
	}
	#advanced_catalog_search_form fieldset{
		margin: 0 0 10px 0;
		padding: 0;
	}
	#advanced_catalog_search_form  .row{
		margin: 0 10px;
		padding: 0 10px;
	}
.simpleSearch{
	clear: both;
	text-align: center;
	font-weight: bold;
	margin: 5px auto;
	display: block;
}
#contents .catalog_search_form{
	float:left;
}
#contents .simpleCatalogSearch{
	overflow: auto;
	padding-bottom: 10px;
}
	#contents .simpleCatalogSearch a.advancedSearch{
		font-weight: bold;
		margin-left: 5px;
	}
	#contents .simpleCatalogSearch .submit input{
		line-height: 12px;
		height: 18px;
		margin-left: 10px;
		padding: 0 5px;
	}

/* ------------
TRUSTED SHOP
---------------*/
		.sealOfApproval{
			line-height: 120%;
			text-align: center;
		}
		.sealOfApproval input{
			border: none;
		}
		.customerRating .widgetContainer{
			line-height: 120%;
		}
		.customerRating .widgetContainer a{
			padding-bottom: 10px;
			display: block;
		}
    .trustedShopsBuyerProtectionExcellence,
    #trustedShopsProtectionClassic{
        background-color: #e2e2e2;
        padding: 10px;
    }
    .trustedShopsBuyerProtectionExcellence .tsleft{
        float: left;
        margin-right: 10px;
        width: 80%;
    }
    .trustedShopsBuyerProtectionExcellence .trustedShopsTitle{
        font-weight: bold;
    }
    #trustedShopsRate{
        padding: 10px 0;
    }
    #trustedShopsProtectionClassic{
        line-height:140%;
    }
    #trustedShopsProtectionClassic input.trustedShopsLogo{
        float: left;
        margin-right: 10px;
    }
    #trustedShopsProtectionClassic input#btnProtect{
        background: none;
        border: none;
        color: black;
        text-decoration: underline;
        font-weight: bold;
        cursor: pointer;
    }
    #trustedShopsProtectionClassic h4{
        margin: 0 0 5px 0;
    }
    .sealOfApproval .widgetContainer{
        text-align:center;
    }

/* ------------
COUPON
---------------*/
.widgetCoupon .widgetContainer{
	line-height: 120%;
	padding-top: 10px;
}
.boxCouponError{
	color: red;
}

/* ------------
RANGE PRODUCTS PRICE
---------------*/
.rangeSlider .ui-slider {
	position: relative;
	height: 10px;
	margin: 5px 0;
	border: 1px solid #000;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.rangeSlider .ui-slider .ui-slider-range {
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	background: #eee;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.rangeSlider .ui-slider a {
	position: absolute;
	top: -4px;
	display: block;
	width: 16px;
	height: 16px;
	background: #ccc;
	border: 1px solid #777;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
