/* --------------
MAP	
----------------*/

.gm-style img {
	max-width: none!important;
}
.googleMapBulle, .gm-style-iw {
	width: 250px;
	height: 150px;
}
.googleMapBulle h2 {
	margin: 0 0 10px;
	font-size: 1.5em;
	font-weight: 600;
}

.googleMapBulle h2.directoryLabel span {
	margin: 0 0 10px;
	font-size: 1.3em;
	font-weight: 500;
}

.googleMapBulle h3 {
	font-size: 1.3em;
}

.googleMapBulle .adsEntrySummaryDefault {
	background: #fff;
	padding: 0 0 10px 10px;
	width: 225px;
}

.googleMapBulle .adsEntrySummaryDefaultInner {
	height: auto;
	max-height: 10000px;
	overflow-x: hidden;
}

.googleMapBulle .directoryEntiesOrder {
	display: none;
}

.googleMapBulle .directoryEnties {
	border: none;
	float: left;
	position: relative;
	color: #666;
	background: #fff;
}

.googleMapBulle .directoryEntiesContainer {
  	height: 210px;
	padding: 0 0 19px 15px;
	width: 235px;
	background: #fff;
}

.googleMapBulle .directoryEntiesContainerInner {
	height: auto;
}

.googleMapBulle .adsEntrySummaryDefaultInner {
	overflow: visible;
}

.googleMapBulle .directoryEnties a.directoryLink {
	position: initial!important;
}