/* -------
ARTICLES
----------*/
#text{
}
	#links,
	#infos {
		background:#FFFFFF;
		border:1px solid #CCCCCC;
		margin:5px auto;
		padding:5px;
		width:85%;
	}
	#links h3,
	#infos h3{
		background:#FFFFFF;
		color:#000000;
		font-size:1.3em;
		margin:-5px -5px 0 -5px;
		padding:3px;
	}
ul.articleAction{
	border-top:1px solid #cccccc;
	clear:left;
	list-style:none;
	margin:0 0 10px 0;
	padding:3px 0 0 0;
	text-align:right;
 display:none;
}
	ul.articleAction li{
		background:none;
		display:inline;
		margin:0 0 0 5px;
		padding:0;
	}
	ul.articleAction li.react a{
		background:url(../images/ico_reagir.gif) no-repeat left center;
		color:#666666;
		padding:0 0 0 15px;
	}
	ul.articleAction li.send a{
		background:url(../images/ico_envoyer_ami.gif) no-repeat left center;
		color:#666666;
		padding:0 0 0 15px;
	}
#article{
}
	#article #chapo{
		margin:auto;
		width:85%;
		border: 1px solid #EEEEEE;
		padding: 10px;
	}
		#article #chapo img{
			float:left;
			margin:0 5px 0 0;
			padding:3px;
		}
		#article #chapo h1{
			font-size:1.5em;
			margin:0;
			background: none;
		}
		#article #chapo p{
			font-style: italic;
		}
	#text{
	}
	#viewMore{
	}
	
/* -------------------
LISTE DES ACTUALITÉS
--------------------*/
#newsList{
}
#newsList .chapoPicture{
	float: right;
}
#newsList .textRight {

}
#newsList .newsContainer{
	border-bottom:1px #cccccc dotted;
	margin:0 0 10px 0;
	padding: 0 0 10px 0;
}
#newsEventsList{
}
div.newsEvent{
	margin:15px 0 15px 0;
	text-align:left;
}
	div.newsEvent img{
		float:left;
		margin:0 5px 0 0;
		padding:3px;
	}
#contents div.newsEvent h2{
	font-size:1.5em;
	margin:0;
}
.newsEvent .date{
}
.newsEvent .period{
}
.newsEvent .chapoPicture{
}
.newsEvent .author{
}
.newsEvent .chapo{
}
p.newsArchivesLink{
	text-align:center;
}
#newsArchives{
}
	#newsArchives table{
		text-align:center;
	}
	#newsArchives tr.ligne1{
		background:#ffffff;
	}
	#newsArchives tr.ligne0, 
	#newsArchives tr.ligne{
		background:#eeeeee;
	}
a.archivesLink{
}	
a.newsArchiveTitle{
}
.linksmore{
	text-align:right;
	padding-right: 10px;
	font-weight:bold;
}
.linksmore .newsLink{
}
a.newsLink{
}
a.pagerPrevious{
}
a.pagerNext{	
}

/* -------------------
DETAIL D'UNE ACTUALITÉ
--------------------*/
#news{
}
	#news #chapo{
		margin:auto;
		width:85%;
		border: 1px solid #EEEEEE;
		padding: 5px;
	}
	#news #chapo img{
		float:left;
		margin:0 5px 0 0;
		padding:3px;
	}
	#news #chapo h2{
		font-size:1.5em;
		margin:0;
	}
	#news #text{
	}
	#news #infos{
	}
	#news #links{
	}
	#news #newsGmap{
	}
	#news a.gmapLink{
	}
	
/* -------------------
MULTI ARTICLES
--------------------*/
#chapoList{
}
#articlesList{
}
	#articlesList .chapo{
		margin:5px;
		padding:0;
		text-align: justify;
		font-size: 1.1em;
		border-bottom: 1px dotted #cccccc;
	}
		#articlesList .chapo img{
			margin:3px;
			float: right;
		}
		#articlesList .chapo h1{
		}
		#articlesList .chapo p{
			margin:5px;
		}
	#articlesList .linksmore{
		clear: both;
		padding: 3px 20px 3px 0px;
		text-align: right;
	}
	p.articlesArchivesLink{
		text-align:center;
	}
	#articlesList .colleft,
	#articlesList .colright{
		float: none;
		width: 100%;
	}
#articlesArchives{
}
	#articlesArchives table{
		text-align:center;
	}
	#articlesArchives tr.ligne1{
		background:#ffffff;
	}
	#articlesArchives tr.ligne0, 
	#articlesArchives tr.ligne{
		background:#eeeeee;
	}

/* ------------------
LISTE DES ÉVÉNEMENTS
-------------------*/
#eventList{
}
#eventSearch {
}
.event{
	border-bottom:1px #cccccc dotted;
	margin:0 0 10px 0;
	padding: 0 0 10px 0;
}
	.event img{
		float:right;
		margin:0 0 0 5px;
		padding:3px;
	}
	.event h2{
		font-size:1.3em;
		font-weight:bold;
		margin:0;
	}
	.event .date{
	}
	.event .types{
	}
	.event .author{
	}
	.event .chapo{
	}
	.event .linksmore{
	}
a.labelPreviousPeriod{
}
a.labelToday{
}
a.labelNextPeriod{
}
.period{
	margin: 10px 0;
	text-align:center;
}
.previous_period{
	margin-right:8px;
}
.label_today{
	margin-right:8px;
}
.next_period{
	margin-right:8px;
}

/* ------------------
DETAIL D'UN ÉVÉNEMENT
-------------------*/
#event{
}
	#event #chapo{
		margin:auto;
		width:85%;
		border:1px solid #EEEEEE;
		padding:10px;
	}
		#event #chapo img{
			float:left;
			margin:0 5px 0 0;
			padding:3px;
		}
		#event #chapo h2{
			font-size:1.5em;
			margin:0;
		}
		#event #chapo .date{
		}
		#event #chapo .types{
		}
		#event #chapo .author{
		}
		#event #chapo .chapo{
		}
		#event #chapo .linksmore{
		}		

/* ---
FAQ
------*/
#faq{
}
	.faqDetail{
		background:#eeeeee;
		border:1px solid #cccccc;
		margin:15px 0;
	}
	.faqDetail h4{
		background:#cccccc;
		color:#ffffff;
		font-size:1.1em;
		margin:0 0 5px 0;
		padding:3px;
	}
	.faqDetail .answer{
		padding: 5px;
	}
	.faqDetail .answer .answerBack{
		text-align: right;
	}

/* -----------------
PUBLICATION DE LIENS
-----------------*/
#linksList{
}
div.linkElement{
}

/* ----------
PLAN DU SITE
----------*/
#sitemap{
}

/* -----
SONDAGE
------*/
#poll{
}
	#poll .pollElement{
		border: 1px solid #cccccc;
		clear:both;
		margin:10px;
		padding: 5px;
	}
		#poll .pollElement .row{
			margin:0;
			padding:0;
		}
		#poll .pollElement .libelle{
			float:left;
			width:200px;
		}
		#poll .pollElement .libelle *{
			display:inline;
			margin:0;
			padding:0;
		}
	#poll .notes{
		color:#cccccc;
		font-size:1em;
	}
	#poll .pollWarning{
		color:#ff0000;
	}
#pollStats{
}
	#pollStats .pollHtmlGraph{
		margin:auto;
		width:60%;
	}
		#pollStats .pollHtmlGraph div{
			background:#cccccc /*url(images/monimage.jpg) repeat-x top left*/;
			border:1px solid #cccccc;
			margin:1px 0 0 5px;
		}
	#pollStats .pollGraph{
		height:auto;
		text-align:center;
	}
.poll_element .group_multi_checkbox{
	top: 0;
	padding: 0 0 0 70px;
}
.widgetPoll .group_multi_checkbox{
		padding: 0 0 0 10px;
}
.widgetPoll input.radio, 
.widgetPoll input.checkbox, 
.widgetPoll input.radio:focus, 
.widgetPoll input.checkbox:focus {
	float: left;
}
.pollTitle{
	font-weight: bold;
	font-size:1.2em;
}

#poll .group_multi_radio{
	padding: 0 0 0 60px;
	top: 0;
}


/* --------
LIVRE D'OR
----------*/
.docbookLinks{
}
#toc{
}
.docbookTree{
}
.guestbookNewmsg{
	background: url("../images/bt-petit.png") no-repeat left top;
	padding: 0 0 0 15px;
	float: left;
	text-decoration: none;
	padding-right: 5px;
}
	.guestbookNewmsg a{
		display: block;
		font-size: 1em;
		font-weight: bold;
		line-height: 26px;
		background: url("../images/bt-petit.png") no-repeat right top;
		padding: 0 15px 0 0;
		margin-right: -15px;
		text-decoration: none;
		color: white;
	}
.guestbookWaiting{
	clear: both;
}
.guestbookNbmsg{
	font-weight:bold;
	margin:5px 0;
}
.guestbookParDate,
.guestbookParAuthor{
	font-style:italic;
	font-size: .9em;
}
.guestbookMsg{
	border-bottom: 1px dotted #CCC;
}
.guestbookModeration a{
	margin:5px 10px 0 0;
}

/* ---
QUIZZ
------*/
.quizz label{
	font-weight:bold;
	width: 250px;
}

.quizz .group_multi_radio{
	padding: 0 0 0 260px;
}
	.quizz .group_multi_radio label{
		font-weight:normal;
	}

/* ----------------
REAGIR A L'ARTICLE
-----------------*/
#reactToArticle{
}

/* ------------------------
ENVOYER L'ARTICLE A UN AMI
------------------------*/
#sendArticle{
}

/* ----
ECARD
-------*/
#ecardDescription{
}
#ecard{
}
	#ecard .ecardMedia{
		float:left;
		margin:10px;
		text-align:center;
		width:28%;
	}
	#ecard .ecardMedia a{
		display:block;
	}

/* ----
PAGER
-------*/
.pager{
	margin:20px 0;
	text-align:center;
	clear: both;
}
	.pager a, .pager a:visited{
		background:#eee;
		border:1px solid #cccccc;
		margin:0 2px;
		padding:3px;
	}
	.pager a:hover{
		background:#ccc;
		border:1px solid #666666;
		margin:0 2px;
		padding:3px;
		text-decoration:none;
	}
	.pager a.pager_current_page,
	.pager a.pager_current_page:hover,
	.pager a.pager_current_page:visited{
		font-size:1.4em;
		font-weight:bold;
	}
	.pager a.pagerCurrentPage,
	.pager a.pagerCurrentPage:hover,
	.pager a.pagerCurrentPage:visited{
		font-size:1.4em;
		font-weight:bold;
	}

/* -----------------------
TELECHARGEMENT DE FICHIER
------------------------*/	
#mediaDownloads #zsearch{
	margin: 0 0 10px 0;
	overflow: auto;
}
#mediaDownloads #zsearch fieldset{
	margin: 0px;
	padding: 0px;
	float: left;
}
#mediaDownloads #zsearch .row{
	float: left;
	clear: none;
}
#mediaDownloads #zsearch .row label{
	width: auto;	
	margin-right:5px;
}
#mediaDownloads #zsearch .clear{
	display: none;
}
#mediaDownloads #zsearch .submit{
	float: left;
	position: relative;
	margin-top: 27px;
}