@charset "iso-8859-1";

@import url(gallery.css);
@import url(elements.css);
@import url(structure.css);
@import url(navigationElements.css);
@import url(form.css);
@import url(boxes.css);
@import url(account.css);
@import url(catalog.css);
@import url(publicationMethods.css);
@import url(search.css);
@import url(board.css);
@import url(annonce.css);
@import url(directory.css);
@import url(community.css);
@import url(googleMap.css);
/*@import url(skeleton.css);
@import url(layout.css);*/
@import url(bootstrap.min.css);
@import url(flexnav.css);
@import url(swiper.css);
@import url(responsive.css);
@import url(elastislide.css);

@font-face {
    font-family: 'ralewayblack';
    src: url('../fonts/raleway-black-webfont.woff2') format('woff2'),
         url('../fonts/raleway-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextrabold';
    src: url('../fonts/raleway-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayextralight';
    src: url('../fonts/raleway-extralight-webfont.woff2') format('woff2'),
         url('../fonts/raleway-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayitalic';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
         url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaysemibold';
    src: url('../fonts/raleway-semibold-webfont.woff2') format('woff2'),
         url('../fonts/raleway-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-webfont.woff2') format('woff2'),
         url('../fonts/raleway-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ---------------------
INITIALISATION DES STYLES
------------------------*/
* {
	border: 0;
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --------------
ZONE EXTERIEURE
-----------------*/
body {
	/* Image de l'arriÃ¨re-plan de la page */
	background: #fff;
	font-family: Tahoma, Verdana, 'ralewayregular', Helvetica, sans-serif;
	font-size:12px;
	line-height:160%;
}

/* ---------------
APPARENCE DES IMAGES
-----------------*/
img {
	border: 0;
	vertical-align: bottom;
	max-width: 100%;
}

/* ---------------
HEADER
-----------------*/
#headerInner {
  background:#ed1947;
  position: fixed;
    top: 0;
    width: 100%;
    z-index: 5000;
}
.fond {
  height:38px;
}
.icones h4, .diapo h4  {
  display:none;
}
ul .secondLevel img {
  margin-bottom:10px;
}
#nested .displayMenu {
 display:none;
}
#en a {
    background: url('../images/icoanglais__028514100_1438_19092016.png') no-repeat;
    color: transparent;
}
#fr a {
    background: url('../images/icofrancais__002507500_1827_22092016.png') no-repeat;
    color: transparent;
}
.breadcrumb {
  display:none;
}
/* ---------------
DIAPOS
-----------------*/
#contents .diapo {
  clear:both;
}
.contentText {
    color: #fff;
    position: absolute;
    z-index: 1;
    font-family:Verdana;
    background:rgba(0,0,0,0.5);
    padding:10px 30px;
}
.contentText span {
  font-size:30px;
}
.diapo-logos img {
  display:block;
  margin:0 auto;
}
/*.diapo-logos .contentText {
  display:none;
}
.diapo-logos .swiper-slide a {
  pointer-events:none;
}*/

.diapo .diapo-logos, #text .diapo-accueil {
display:none;
}
.diapo-logos .swiper-container {
 margin-top:10px;
}

/* ---------------
ONE PAGE
-----------------*/
.bande {
  height:50px;
}
.bg-gris {
  background:#e5e5e5;
}
.picto img {
  display:block;
  margin:0 auto;
  padding-top:30px;
}
.titre {
  font-size:24px;
  text-transform:uppercase;
  text-align:center;
  color:#ed1947;
  margin-top:30px;
}
.titre2 {
  font-size:24px;
  text-transform:uppercase;
  text-align:center;
  color:#fff;
  margin-top:30px;
}
.bg-rose {
  background-color: #ed1947;
}
.fond-img {
  background: url("../images/fond-chiffres.jpg") no-repeat center; 
/*  filter:alpha(opacity=40);
  -moz-opacity:0.4;
  opacity: 0.4; */
}
.chiffres {
  margin-top:30px;
}
.chiffre {
  text-align:center;
  color:#fff;
  margin-bottom:20px;
}
.chiffre p {
  font-size:14px;
  padding-top:5px;
}
.chiffre strong {
 /* font-family:'ralewaybold'; */
  font-size:22px;
}
.bg-grisf {
  background:#d9d9d9;
}
.images img {
  display:block;
  margin:0 auto;
}
.familles {
  margin-top:20px;
  margin-bottom:20px;
}
.famille {
  text-align:center;
  color:#ed1947;
  font-weight:bold;
}
.famille a {
  color:#ed1947;
}
.texte1col {
  margin-top:10px;
}
.texte1col h2 {
  font-size:18px;
  color:#ed1947;
}
.texte1col h3 {
  font-size:16px;
}
.widgetContacts {
  margin-top:20px;
}
.widgetContacts h4{ 
  color:#ed1947;
  border-bottom: 1px solid #ed1947;
  margin:10px;
  background: url('../images/puce-titre.png') no-repeat left;
  padding:8px 20px;
}
.widgetContacts .widget {
  padding:10px;
}
.widgetContacts .widgetContainer {
  padding:0 10px;
}
.carte img {
  display:block;
  margin:0 auto;
}
#socialZone {
  display:none;
}
.recherche #error_page {
  display:none;
}
.pres {
  font-weight:bold; 
  text-align:center; 
  display:block; 
  margin-top:10px;
}
/* ---------------
FOOTER
-----------------*/
#footerInner .widget:nth-of-type(1) h4{
  display:none;
}
.sfcc {
  line-height:16px;
  margin-top:20px;
}
.signature {
  background:#ed1947;
}
.signature h4 {
  display:none;
}
.signature p{
  font-size:14px;;
}
.signature a {
  font-size:14px;
}
#signature {
 /* display:none; */
}
/* --------------
CATALOGUE
-----------------*/
.produits #famillyPresentation {
  background:none;
}

/* --------------
WIDGETS
-----------------*/
.mentions_legales h1 {
  color:#ed1947;
  font-size:24px;
  text-align:center;
  margin-top:20px;
}
.recherche h4 {
  color:#ed1947;
  font-size:24px;
  text-align:center;
  margin-top:20px;
  font-weight:normal;
}
.recherche input[type="submit"] {
  padding:1px 5px;
}
.widgetSearchAdvanced {
  display:none;
}
.recherche #searchform {
  margin-bottom :10px;
}
.recherche #search #searchForm {
  display:none;
}

/* --------------
TRICKS
-----------------*/
.hide  { display: none; }
.clear {
	border: 0;
	clear: both;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.relative { position: relative; }

.posLeft   { float: left; }
.posMiddle { margin: 0 auto; }
.posRight  { float: right; }

.txtCenter { text-align: center; }
.txtLeft   { text-align: left; }
.txtRight  { text-align: right; }

.size1_1 { width: 100%; padding: 0 1%; min-height: 1px; }
.size1_2 { width: 50%;  padding: 0 1%; min-height: 1px; }
.size1_3 { width: 33.33%; padding: 0 1%; min-height: 1px; }
.size1_4 { width: 25%; padding: 0 1%; min-height: 1px; }
.size1_5 { width: 20%; padding: 0 1%; min-height: 1px; }
.size1_6 { width: 16.66%; padding: 0 1%; min-height: 1px; }
.size1_7 { width: 14.285%; padding: 0 1%; min-height: 1px; }
.size1_8 { width: 12.5%; padding: 0 1%; min-height: 1px; }

.arrowBlack {
	position: absolute;
	left: 5px;
	bottom: -5px;
	display: block;
	width: 10px !important;
	height: 5px !important;
	padding: 0;
	margin: 0;
	background: url(../images/bg_arrow.png);
}
.arrowBlack.reverse {
	left: auto;
	right: 5px;
}
.arrowContent {
	position: absolute;
	top: -30px;
	left: 0px;
	z-index: 200;
	display: none;
	padding: 3px 5px;
	font-size: 11px;
	color: #fff;
	background: #000;
	white-space: nowrap;
}
*:hover > .arrowContent { display: block; }
.socialNetworkConnect { padding-top: 10px; }
a.facebookConnect, a.twitterConnect, a.googleConnect {
	display: inline-block;
	vertical-align: top;
	padding: 0 10px 0 0;
	height: 31px;
	font: normal 12px/30px 'Roboto', 'Lucida Grande', Arial, sans-serif;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
	background: #5f78ab;
	border: 1px solid #405a91;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
a.twitterConnect {
	background-color: #55acee;
	border-color: #4998d5;
}
a.googleConnect {
	display: inline-block;
	vertical-align: top;
	background-color: #cc3732;
	border-color: #b62b26;
}
a.facebookConnect:hover { background-color: #6895c4; }
a.twitterConnect:hover  { background-color: #6bcbf8; }
a.googleConnect:hover   { background-color: #e94d48; }
a.facebookConnect .iconSocialNetwork, a.twitterConnect .iconSocialNetwork, a.googleConnect .iconSocialNetwork {
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	background: url(../images/icon_socialNetworks.png) 0 0 no-repeat;
}
a.twitterConnect .iconSocialNetwork { background-position: -30px 0; }
a.googleConnect .iconSocialNetwork  { background-position: -60px 0; }
a.facebookConnect > span, a.twitterConnect > span, a.googleConnect > span {
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
a.facebookConnect > span { border-left: 1px solid #405a91; }
a.twitterConnect > span { border-left: 1px solid #4998d5; }
a.googleConnect > span { border-left: 1px solid #b62b26; }
/*.googleConnect > div { display: none; }*/
#overDiv {
	position: absolute;
	z-index: 1000;
	visibility: hidden;
}

/* ---------------------------------------- */
/* X - Fancy Box                            */
/* ---------------------------------------- */
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
	vertical-align: top;
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
}
.fancybox-wrap {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8020;
}
.fancybox-skin {
	position: relative;
	color: #444;
	text-shadow: none;
	background: #f9f9f9;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
.fancybox-opened { z-index: 8030; }
.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
			box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}
.fancybox-outer, .fancybox-inner { position: relative; }
.fancybox-inner { overflow: hidden; }
.fancybox-type-iframe .fancybox-inner { -webkit-overflow-scrolling: touch; }
.fancybox-error {
	padding: 15px;
	margin: 0;
	font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	white-space: nowrap;
}
.fancybox-image, .fancybox-iframe {
	display: block;
	width: 100%;
	height: 100%;
}
.fancybox-image {
	max-width: 100%;
	max-height: 100%;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span { background-image: url(../images/fancybox_sprite.png); }
#fancybox-loading {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 8060;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	cursor: pointer;
	opacity: 0.8;
}
#fancybox-loading div {
	width: 44px;
	height: 44px;
	background: url(../images/fancybox_loading.gif) center center no-repeat;
}
.fancybox-close {
	position: absolute;
	top: -18px;
	right: -18px;
	z-index: 8040;
	width: 36px;
	height: 36px;
	cursor: pointer;
}
.fancybox-nav {
	position: absolute;
	top: 0;
	width: 40%;
	z-index: 8040;
	height: 100%;
	cursor: pointer;
	text-decoration: none;
	background: transparent url(../images/blank.gif); /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.fancybox-prev { left: 0; }
.fancybox-next { right: 0; }
.fancybox-nav span {
	position: absolute;
	top: 50%;
	width: 36px;
	z-index: 8040;
	height: 34px;
	margin-top: -18px;
	cursor: pointer;
	visibility: hidden;
}
.fancybox-prev span {
	left: 10px;
	background-position: 0 -36px;
}
.fancybox-next span {
	right: 10px;
	background-position: 0 -72px;
}
.fancybox-nav:hover span { visibility: visible; }
.fancybox-tmp {
	position: absolute;
	top: -99999px;
	left: -99999px;
	max-width: 99999px;
	max-height: 99999px;
	visibility: hidden;
	overflow: visible !important;
}

/* Overlay helper */
.fancybox-lock {
	overflow: hidden !important;
	width: auto;
}
.fancybox-lock body { overflow: hidden !important; }
.fancybox-lock-test { overflow-y: hidden !important; }
.fancybox-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8010;
	display: none;
	background: url(../images/fancybox_overlay.png);
	overflow: hidden;
}
.fancybox-overlay-fixed {
	position: fixed;
	bottom: 0;
	right: 0;
}
.fancybox-lock .fancybox-overlay {
	overflow: auto;
	overflow-y: scroll;
}

/* Title helper */
.fancybox-title {
	position: relative;
	z-index: 8050;
	font: normal 13px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	text-shadow: none;
	visibility: hidden;
}
.fancybox-opened .fancybox-title { visibility: visible; }
.fancybox-title-float-wrap {
	position: absolute;
	bottom: 0;
	right: 50%;
	z-index: 8050;
	margin-bottom: -35px;
	text-align: center;
}
.fancybox-title-float-wrap .child {
	display: none;
	margin-right: -100%;
	padding: 2px 20px;
	font-weight: bold;
	line-height: 24px;
	color: #FFF;
	text-shadow: 0 1px 2px #222;
	background: transparent; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	white-space: nowrap;
}
.fancybox-title-outside-wrap {
	position: relative;
	margin-top: 10px;
	color: #fff;
}
.fancybox-title-inside-wrap { padding-top: 10px; }
.fancybox-title-over-wrap {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	padding: 10px;
	background: #000;
	background: rgba(0, 0, 0, .8);
}

.fancybox-wrap a:focus {
  outline:none;
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(../images/fancybox_sprite%402x.png);
		background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
	}

	#fancybox-loading div {
		background-image: url(../images/fancybox_loading%402x.gif);
		background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
	}
}

/* Champ de formulaire masqué pour gestion d'un antispam de type honey pot*/
.firstnameFormRow {
	display:none;
}
